.gallery-bar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.gallery-bar label {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.gallery-bar input {
  width: 80%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.gallery-bar .wrapper-bar-btns {
  width: 600px;
  display: flex;
  justify-content: space-around;
}

.gallery-bar .wrapper-favourite-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin: auto;
}

.gallery-bar .wrapper-btns {
  display: flex;
  justify-content: space-evenly;
  width: 400px;
}

@media (max-width: 768px) {
  .gallery-bar .wrapper-bar-btns {
    width: 600px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
