.gallery-plates {
  color: #fff;
  padding-top: 10px;
}

.like-icon-filled {
  position: absolute;
  font-size: 30px;
  cursor: pointer;
  color: #fca510;
}

.like-icon-unfilled {
  position: absolute;
  font-size: 30px;
  cursor: pointer;
  color: #fff;
}

.close-card-icon {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: right;
  color: red;
  position: absolute;
  top: 5px;
  right: 5px;
}
